<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kim.mapper.AidFinanciallyMapper">

    <!--查询资助-->
    <select id="selectAidFinancially" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT BAF.*,
        BS.BS_NAME,BS.BS_NUMBER,BC.BC_NAME,
        BSC.BSC_TOTAL,BSC.BSC_RANK,BSC.BSC_ACADEMIC_RECORD,BSC.BSC_INTELLECTUAL_RANK
        FROM(
            SELECT * FROM BUS_AID_FINANCIALLY
            <where>
                <if test ="ID != NULL and ID != ''">
                    AND ID = #{ID}
                </if>
            </where>
        )BAF
        INNER JOIN BUS_STUDENT BS ON BS.ID = BAF.BS_ID
        INNER JOIN BUS_CLASS BC ON BC.ID = BS.BC_ID
        INNER JOIN BUS_STUDENT_COMPREHENSIVE BSC ON BSC.BS_ID = BAF.BS_ID AND BSC.BSC_YEAR = BAF.BAF_YEAR AND BSC.BSC_SEMESTER = BAF.BAF_SEMESTER
    </select>

    <!--插入资助-->
    <insert id="insertAidFinancially" parameterType="java.util.Map">
        INSERT INTO BUS_AID_FINANCIALLY
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="ID != null">ID,</if>
            <if test="SO_ID != null">SO_ID,</if>
            <if test="BS_ID != null">BS_ID,</if>
            <if test="BAF_YEAR != null">BAF_YEAR,</if>
            <if test="BAF_SEMESTER != null">BAF_SEMESTER,</if>
            <if test="BAF_TYPE != null">BAF_TYPE,</if>
            <if test="BAF_AID_TYPE != null">BAF_AID_TYPE,</if>
            <if test="BAF_REDUCTION_LEVEL != null">BAF_REDUCTION_LEVEL,</if>
            <if test="BAF_REDUCTION_QUOTA != null">BAF_REDUCTION_QUOTA,</if>
            <if test="BAF_DIFFICULTY_LEVEL != null">BAF_DIFFICULTY_LEVEL,</if>
            <if test="BAF_DIFFICULTY_TYPE != null">BAF_DIFFICULTY_TYPE,</if>
            <if test="BAF_ENTRY_TIME != null">BAF_ENTRY_TIME,</if>
            <if test="BUS_PROCESS != null">BUS_PROCESS,</if>
            <if test="BUS_PROCESS2 != null">BUS_PROCESS2,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="ID != null">#{ID},</if>
            <if test="SO_ID != null">#{SO_ID},</if>
            <if test="BS_ID != null">#{BS_ID},</if>
            <if test="BAF_YEAR != null">#{BAF_YEAR},</if>
            <if test="BAF_SEMESTER != null">#{BAF_SEMESTER},</if>
            <if test="BAF_TYPE != null">#{BAF_TYPE},</if>
            <if test="BAF_AID_TYPE != null">#{BAF_AID_TYPE},</if>
            <if test="BAF_REDUCTION_LEVEL != null">#{BAF_REDUCTION_LEVEL},</if>
            <if test="BAF_REDUCTION_QUOTA != null">#{BAF_REDUCTION_QUOTA},</if>
            <if test="BAF_DIFFICULTY_LEVEL != null">#{BAF_DIFFICULTY_LEVEL},</if>
            <if test="BAF_DIFFICULTY_TYPE != null">#{BAF_DIFFICULTY_TYPE},</if>
            <if test="BAF_ENTRY_TIME != null">#{BAF_ENTRY_TIME},</if>
            <if test="BUS_PROCESS != null">#{BUS_PROCESS},</if>
            <if test="BUS_PROCESS2 != null">#{BUS_PROCESS2},</if>
        </trim>
    </insert>

    <!--编辑资助-->
    <update id="updateAidFinancially" parameterType="java.util.Map">
        UPDATE BUS_AID_FINANCIALLY
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="SO_ID != null">SO_ID=#{SO_ID},</if>
            <if test="BS_ID != null">BS_ID=#{BS_ID},</if>
            <if test="BAF_YEAR != null">BAF_YEAR=#{BAF_YEAR},</if>
            <if test="BAF_SEMESTER != null">BAF_SEMESTER=#{BAF_SEMESTER},</if>
            <if test="BAF_TYPE != null">BAF_TYPE=#{BAF_TYPE},</if>
            <if test="BAF_AID_TYPE != null">BAF_AID_TYPE=#{BAF_AID_TYPE},</if>
            <if test="BAF_REDUCTION_LEVEL != null">BAF_REDUCTION_LEVEL=#{BAF_REDUCTION_LEVEL},</if>
            <if test="BAF_REDUCTION_QUOTA != null">BAF_REDUCTION_QUOTA=#{BAF_REDUCTION_QUOTA},</if>
            <if test="BAF_DIFFICULTY_LEVEL != null">BAF_DIFFICULTY_LEVEL=#{BAF_DIFFICULTY_LEVEL},</if>
            <if test="BAF_DIFFICULTY_TYPE != null">BAF_DIFFICULTY_TYPE=#{BAF_DIFFICULTY_TYPE},</if>
            <if test="BAF_ENTRY_TIME != null">BAF_ENTRY_TIME=#{BAF_ENTRY_TIME},</if>
            <if test="BUS_PROCESS != null">BUS_PROCESS=#{BUS_PROCESS},</if>
            <if test="BUS_PROCESS2 != null">BUS_PROCESS2=#{BUS_PROCESS2},</if>
        </set>
        <where>
            <if test="ID !=null">ID=#{ID}</if>
        </where>
    </update>

    <!--删除资助-->
    <delete id="deleteAidFinancially" parameterType="java.util.Map">
		DELETE FROM BUS_AID_FINANCIALLY WHERE ID = #{ID}
	</delete>
</mapper>