<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kim.mapper.DocumentMapper">

    <!--查询文件-->
    <select id="selectDocument" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT * FROM bus_document
        <where>
            <if test ="ID != NULL and ID != ''">
                AND ID = #{ID}
            </if>
            <if test ="SO_ID != NULL and SO_ID != ''">
                AND SO_ID = #{SO_ID}
            </if>
        </where>
    </select>

    <!--插入文件-->
    <insert id="insertDocument" parameterType="java.util.Map">
        INSERT INTO bus_document
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="ID != null">ID,</if>
            <if test="SO_ID != null">SO_ID,</if>
            <if test="BD_YEAR != null">BD_YEAR,</if>
            <if test="BD_TYPE != null">BD_TYPE,</if>
            <if test="BD_NUMBER != null">BD_NUMBER,</if>
            <if test="BD_TITLE != null">BD_TITLE,</if>
            <if test="BD_DATE != null">BD_DATE,</if>
            <if test="BD_IS_NEED_REPLY != null">BD_IS_NEED_REPLY,</if>
            <if test="BD_REPLY_TIME != null">BD_REPLY_TIME,</if>
            <if test="BD_IS_REPLY != null">BD_IS_REPLY,</if>
            <if test="BD_REPLY_CONTENT != null">BD_REPLY_CONTENT,</if>
            <if test="BD_REMARKS != null">BD_REMARKS,</if>
            <if test="BD_ENTRY_TIME != null">BD_ENTRY_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="ID != null">#{ID},</if>
            <if test="SO_ID != null">#{SO_ID},</if>
            <if test="BD_YEAR != null">#{BD_YEAR},</if>
            <if test="BD_TYPE != null">#{BD_TYPE},</if>
            <if test="BD_NUMBER != null">#{BD_NUMBER},</if>
            <if test="BD_TITLE != null">#{BD_TITLE},</if>
            <if test="BD_DATE != null">#{BD_DATE},</if>
            <if test="BD_IS_NEED_REPLY != null">#{BD_IS_NEED_REPLY},</if>
            <if test="BD_REPLY_TIME != null">#{BD_REPLY_TIME},</if>
            <if test="BD_IS_REPLY != null">#{BD_IS_REPLY},</if>
            <if test="BD_REPLY_CONTENT != null">#{BD_REPLY_CONTENT},</if>
            <if test="BD_REMARKS != null">#{BD_REMARKS},</if>
            <if test="BD_ENTRY_TIME != null">#{BD_ENTRY_TIME},</if>
        </trim>
    </insert>

    <!--编辑文件-->
    <update id="updateDocument" parameterType="java.util.Map">
        UPDATE bus_document
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="SO_ID != null">SO_ID=#{SO_ID},</if>
            <if test="BD_YEAR != null">BD_YEAR=#{BD_YEAR},</if>
            <if test="BD_TYPE != null">BD_TYPE=#{BD_TYPE},</if>
            <if test="BD_NUMBER != null">BD_NUMBER=#{BD_NUMBER},</if>
            <if test="BD_TITLE != null">BD_TITLE=#{BD_TITLE},</if>
            <if test="BD_DATE != null">BD_DATE=#{BD_DATE},</if>
            <if test="BD_IS_NEED_REPLY != null">BD_IS_NEED_REPLY=#{BD_IS_NEED_REPLY},</if>
            <if test="BD_REPLY_TIME != null">BD_REPLY_TIME=#{BD_REPLY_TIME},</if>
            <if test="BD_IS_REPLY != null">BD_IS_REPLY=#{BD_IS_REPLY},</if>
            <if test="BD_REPLY_CONTENT != null">BD_REPLY_CONTENT=#{BD_REPLY_CONTENT},</if>
            <if test="BD_REMARKS != null">BD_REMARKS=#{BD_REMARKS},</if>
            <if test="BD_ENTRY_TIME != null">BD_ENTRY_TIME=#{BD_ENTRY_TIME},</if>
        </set>
        <where>
            <if test="ID !=null">ID=#{ID}</if>
        </where>
    </update>

    <!--删除文件-->
    <delete id="deleteDocument" parameterType="java.util.Map">
		DELETE FROM bus_document WHERE ID = #{ID}
	</delete>

</mapper>