<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.kim.mapper.StudentExtendMapper">

    <!--查询学生考勤-->
    <select id="selectStudentAttendance" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT BSA.*,BS.BS_NAME
        FROM(
            SELECT * FROM BUS_STUDENT_ATTENDANCE
            <where>
                <if test ="ID != NULL and ID != ''">
                    AND ID = #{ID}
                </if>
            </where>
        )BSA
        INNER JOIN BUS_STUDENT BS ON BS.ID = BSA.BS_ID
    </select>

    <!--查询学生考勤数量-->
    <select id="selectStudentAttendanceGroupByCount" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT BS_ID,SUM(BSA_LATE) AS BSA_LATE,SUM(BSA_ABSENTEEISM) AS BSA_ABSENTEEISM FROM BUS_STUDENT_ATTENDANCE
        <where>
            <if test ="BS_ID != NULL and BS_ID != ''">
                AND BS_ID = #{BS_ID}
            </if>
            <if test ="BSA_YEAR != NULL and BSA_YEAR != ''">
                AND BSA_YEAR = #{BSA_YEAR}
            </if>
            <if test ="BSA_SEMESTER != NULL and BSA_SEMESTER != ''">
                AND BSA_SEMESTER = #{BSA_SEMESTER}
            </if>
        </where>
        GROUP BY BS_ID,BSA_YEAR,BSA_SEMESTER
    </select>

    <!--插入学生考勤-->
    <insert id="insertStudentAttendance" parameterType="java.util.Map">
        INSERT INTO BUS_STUDENT_ATTENDANCE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ID != null">ID,</if>
            <if test="BS_ID != null">BS_ID,</if>
            <if test="BSA_YEAR != null">BSA_YEAR,</if>
            <if test="BSA_SEMESTER != null">BSA_SEMESTER,</if>
            <if test="BSA_WEEK != null">BSA_WEEK,</if>
            <if test="BSA_LATE != null">BSA_LATE,</if>
            <if test="BSA_ABSENTEEISM != null">BSA_ABSENTEEISM,</if>
            <if test="BSA_ENTRY_TIME != null">BSA_ENTRY_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ID != null">#{ID},</if>
            <if test="BS_ID != null">#{BS_ID},</if>
            <if test="BSA_YEAR != null">#{BSA_YEAR},</if>
            <if test="BSA_SEMESTER != null">#{BSA_SEMESTER},</if>
            <if test="BSA_WEEK != null">#{BSA_WEEK},</if>
            <if test="BSA_LATE != null">#{BSA_LATE},</if>
            <if test="BSA_ABSENTEEISM != null">#{BSA_ABSENTEEISM},</if>
            <if test="BSA_ENTRY_TIME != null">#{BSA_ENTRY_TIME},</if>
        </trim>
    </insert>

    <!--编辑学生考勤-->
    <update id="updateStudentAttendance" parameterType="java.util.Map">
        UPDATE BUS_STUDENT_ATTENDANCE
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BS_ID != null">BS_ID=#{BS_ID},</if>
            <if test="BSA_YEAR != null">BSA_YEAR=#{BSA_YEAR},</if>
            <if test="BSA_SEMESTER != null">BSA_SEMESTER=#{BSA_SEMESTER},</if>
            <if test="BSA_WEEK != null">BSA_WEEK=#{BSA_WEEK},</if>
            <if test="BSA_LATE != null">BSA_LATE=#{BSA_LATE},</if>
            <if test="BSA_ABSENTEEISM != null">BSA_ABSENTEEISM=#{BSA_ABSENTEEISM},</if>
            <if test="BSA_ENTRY_TIME != null">BSA_ENTRY_TIME=#{BSA_ENTRY_TIME},</if>
        </set>
        <where>
            <if test="ID !=null">ID=#{ID}</if>
        </where>
    </update>

    <!--删除学生考勤-->
    <delete id="deleteStudentAttendance" parameterType="java.util.Map">
		DELETE FROM BUS_STUDENT_ATTENDANCE WHERE ID = #{ID}
	</delete>

    <!--查询处分-->
    <select id="selectStudentPunishment" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT BSP.*,BS.BS_NAME
        FROM(
        SELECT * FROM BUS_STUDENT_PUNISHMENT
            <where>
                <if test="ID != NULL and ID != ''">
                    AND ID = #{ID}
                </if>
            </where>
        )BSP
        INNER JOIN BUS_STUDENT BS ON BS.ID = BSP.BS_ID
    </select>

    <!--查询处分数量-->
    <select id="selectStudentPunishmentCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM BUS_STUDENT_PUNISHMENT
        <where>
            <if test="BS_ID != NULL and BS_ID != ''">
                AND BS_ID = #{BS_ID}
            </if>
            <if test="BSP_IS_CANCEL != NULL and BSP_IS_CANCEL != ''">
                AND BSP_IS_CANCEL = #{BSP_IS_CANCEL}
            </if>
        </where>
    </select>

    <!--插入处分-->
    <insert id="insertStudentPunishment" parameterType="java.util.Map">
        INSERT INTO BUS_STUDENT_PUNISHMENT
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="ID != null">ID,</if>
            <if test="BS_ID != null">BS_ID,</if>
            <if test="BSP_TITLE != null">BSP_TITLE,</if>
            <if test="BSP_FILE_NUMBER != null">BSP_FILE_NUMBER,</if>
            <if test="BSP_RELEASE_TIME != null">BSP_RELEASE_TIME,</if>
            <if test="BSP_TYPE != null">BSP_TYPE,</if>
            <if test="BSP_REVOKE_TIME != null">BSP_REVOKE_TIME,</if>
            <if test="BSP_DESCRIBE != null">BSP_DESCRIBE,</if>
            <if test="BSP_IS_CANCEL != null">BSP_IS_CANCEL,</if>
            <if test="BSP_CANCEL_TIME != null">BSP_CANCEL_TIME,</if>
            <if test="BSP_ENTRY_TIME != null">BSP_ENTRY_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="ID != null">#{ID},</if>
            <if test="BS_ID != null">#{BS_ID},</if>
            <if test="BSP_TITLE != null">#{BSP_TITLE},</if>
            <if test="BSP_FILE_NUMBER != null">#{BSP_FILE_NUMBER},</if>
            <if test="BSP_RELEASE_TIME != null">#{BSP_RELEASE_TIME},</if>
            <if test="BSP_TYPE != null">#{BSP_TYPE},</if>
            <if test="BSP_REVOKE_TIME != null">#{BSP_REVOKE_TIME},</if>
            <if test="BSP_DESCRIBE != null">#{BSP_DESCRIBE},</if>
            <if test="BSP_IS_CANCEL != null">#{BSP_IS_CANCEL},</if>
            <if test="BSP_CANCEL_TIME != null">#{BSP_CANCEL_TIME},</if>
            <if test="BSP_ENTRY_TIME != null">#{BSP_ENTRY_TIME},</if>
        </trim>
    </insert>

    <!--编辑处分-->
    <update id="updateStudentPunishment" parameterType="java.util.Map">
        UPDATE BUS_STUDENT_PUNISHMENT
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BS_ID != null">BS_ID=#{BS_ID},</if>
            <if test="BSP_TITLE != null">BSP_TITLE=#{BSP_TITLE},</if>
            <if test="BSP_FILE_NUMBER != null">BSP_FILE_NUMBER=#{BSP_FILE_NUMBER},</if>
            <if test="BSP_RELEASE_TIME != null">BSP_RELEASE_TIME=#{BSP_RELEASE_TIME},</if>
            <if test="BSP_TYPE != null">BSP_TYPE=#{BSP_TYPE},</if>
            <if test="BSP_REVOKE_TIME != null">BSP_REVOKE_TIME=#{BSP_REVOKE_TIME},</if>
            <if test="BSP_DESCRIBE != null">BSP_DESCRIBE=#{BSP_DESCRIBE},</if>
            <if test="BSP_IS_CANCEL != null">BSP_IS_CANCEL=#{BSP_IS_CANCEL},</if>
            <if test="BSP_CANCEL_TIME != null">BSP_CANCEL_TIME=#{BSP_CANCEL_TIME},</if>
            <if test="BSP_ENTRY_TIME != null">BSP_ENTRY_TIME=#{BSP_ENTRY_TIME},</if>
        </set>
        <where>
            <if test="ID !=null">ID=#{ID}</if>
        </where>
    </update>

    <!--撤销到期处分-->
    <update id="refreshStudentRevokePunishment" parameterType="java.util.Map">
        UPDATE BUS_STUDENT_PUNISHMENT SET BSP_IS_CANCEL = 1 , BSP_CANCEL_TIME = NOW()
        WHERE BSP_IS_CANCEL != 1 AND BSP_REVOKE_TIME &lt;= NOW()
    </update>

    <!--删除处分-->
    <delete id="deleteStudentPunishment" parameterType="java.util.Map">
		DELETE FROM BUS_STUDENT_PUNISHMENT WHERE ID = #{ID}
	</delete>

    <!--查询综合素质测评-->
    <select id="selectStudentComprehensive" parameterType="java.util.Map" resultType="java.util.Map">
        SELECT BSC.*,BS.BC_ID,BS.BS_NAME,BC.BC_NAME
        FROM(
            SELECT * FROM BUS_STUDENT_COMPREHENSIVE
            <where>
                <if test ="ID != NULL and ID != ''">
                    AND ID = #{ID}
                </if>
                <if test ="BS_ID != NULL and BS_ID != ''">
                    AND BS_ID = #{BS_ID}
                </if>
                <if test ="BSC_YEAR != NULL and BSC_YEAR != ''">
                    AND BSC_YEAR = #{BSC_YEAR}
                </if>
                <if test ="BSC_SEMESTER != NULL and BSC_SEMESTER != ''">
                    AND BSC_SEMESTER = #{BSC_SEMESTER}
                </if>
            </where>
        )BSC
        INNER JOIN BUS_STUDENT BS ON BS.ID = BSC.BS_ID
        INNER JOIN BUS_CLASS BC ON BC.ID = BS.BC_ID
        <where>
            <if test ="BC_ID != NULL and BC_ID != ''">
                AND BC_ID = #{BC_ID}
            </if>
        </where>
    </select>

    <!--查询综合素质测评数量-->
    <select id="selectStudentComprehensiveCount" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM BUS_STUDENT_COMPREHENSIVE
        <where>
            <if test="ID != NULL and ID != ''">
                AND ID = #{ID}
            </if>
            <if test="NOT_ID != NULL and NOT_ID != ''">
                AND ID != #{NOT_ID}
            </if>
            <if test="BS_ID != NULL and BS_ID != ''">
                AND BS_ID = #{BS_ID}
            </if>
            <if test="BSC_YEAR != NULL and BSC_YEAR != ''">
                AND BSC_YEAR = #{BSC_YEAR}
            </if>
            <if test="BSC_SEMESTER != NULL and BSC_SEMESTER != ''">
                AND BSC_SEMESTER = #{BSC_SEMESTER}
            </if>
        </where>
    </select>

    <!--插入综合素质测评-->
    <insert id="insertStudentComprehensive" parameterType="java.util.Map">
        INSERT INTO BUS_STUDENT_COMPREHENSIVE
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="ID != null">ID,</if>
            <if test="BS_ID != null">BS_ID,</if>
            <if test="BSC_EDUCATION_PROPORTION != null">BSC_EDUCATION_PROPORTION,</if>
            <if test="BSC_INTELLECTUAL_PROPORTION != null">BSC_INTELLECTUAL_PROPORTION,</if>
            <if test="BSC_VOLUNTEER_PROPORTION != null">BSC_VOLUNTEER_PROPORTION,</if>
            <if test="BSC_YEAR != null">BSC_YEAR,</if>
            <if test="BSC_SEMESTER != null">BSC_SEMESTER,</if>
            <if test="BSC_TOTAL != null">BSC_TOTAL,</if>
            <if test="BSC_RANK != null">BSC_RANK,</if>
            <if test="BSC_POLITICAL_ATTITUDE != null">BSC_POLITICAL_ATTITUDE,</if>
            <if test="BSC_LABOR_ATTITUDE != null">BSC_LABOR_ATTITUDE,</if>
            <if test="BSC_COMPLIANCE != null">BSC_COMPLIANCE,</if>
            <if test="BSC_COLLECTIVE != null">BSC_COLLECTIVE,</if>
            <if test="BSC_DECORUM != null">BSC_DECORUM,</if>
            <if test="BSC_CARE != null">BSC_CARE,</if>
            <if test="BSC_PERSONAL_QUALITY != null">BSC_PERSONAL_QUALITY,</if>
            <if test="BSC_SERVICE_SPIRIT != null">BSC_SERVICE_SPIRIT,</if>
            <if test="BSC_FULL_WORK != null">BSC_FULL_WORK,</if>
            <if test="BSC_BONUS_POINTS != null">BSC_BONUS_POINTS,</if>
            <if test="BSC_EDUCATION_DEDUCTION != null">BSC_EDUCATION_DEDUCTION,</if>
            <if test="BSC_EDUCATION_TOTAL != null">BSC_EDUCATION_TOTAL,</if>
            <if test="BSC_EDUCATION_SCORE != null">BSC_EDUCATION_SCORE,</if>
            <if test="BSC_ACADEMIC_RECORD != null">BSC_ACADEMIC_RECORD,</if>
            <if test="BSC_INTELLECTUAL_POINTS != null">BSC_INTELLECTUAL_POINTS,</if>
            <if test="BSC_INTELLECTUAL_SCORE != null">BSC_INTELLECTUAL_SCORE,</if>
            <if test="BSC_INTELLECTUAL_RANK != null">BSC_INTELLECTUAL_RANK,</if>
            <if test="BSC_VOLUNTEER_TOTAL != null">BSC_VOLUNTEER_TOTAL,</if>
            <if test="BSC_VOLUNTEER_SCORE != null">BSC_VOLUNTEER_SCORE,</if>
            <if test="BSC_REMARKS != null">BSC_REMARKS,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="ID != null">#{ID},</if>
            <if test="BS_ID != null">#{BS_ID},</if>
            <if test="BSC_EDUCATION_PROPORTION != null">#{BSC_EDUCATION_PROPORTION},</if>
            <if test="BSC_INTELLECTUAL_PROPORTION != null">#{BSC_INTELLECTUAL_PROPORTION},</if>
            <if test="BSC_VOLUNTEER_PROPORTION != null">#{BSC_VOLUNTEER_PROPORTION},</if>
            <if test="BSC_YEAR != null">#{BSC_YEAR},</if>
            <if test="BSC_SEMESTER != null">#{BSC_SEMESTER},</if>
            <if test="BSC_TOTAL != null">#{BSC_TOTAL},</if>
            <if test="BSC_RANK != null">#{BSC_RANK},</if>
            <if test="BSC_POLITICAL_ATTITUDE != null">#{BSC_POLITICAL_ATTITUDE},</if>
            <if test="BSC_LABOR_ATTITUDE != null">#{BSC_LABOR_ATTITUDE},</if>
            <if test="BSC_COMPLIANCE != null">#{BSC_COMPLIANCE},</if>
            <if test="BSC_COLLECTIVE != null">#{BSC_COLLECTIVE},</if>
            <if test="BSC_DECORUM != null">#{BSC_DECORUM},</if>
            <if test="BSC_CARE != null">#{BSC_CARE},</if>
            <if test="BSC_PERSONAL_QUALITY != null">#{BSC_PERSONAL_QUALITY},</if>
            <if test="BSC_SERVICE_SPIRIT != null">#{BSC_SERVICE_SPIRIT},</if>
            <if test="BSC_FULL_WORK != null">#{BSC_FULL_WORK},</if>
            <if test="BSC_BONUS_POINTS != null">#{BSC_BONUS_POINTS},</if>
            <if test="BSC_EDUCATION_DEDUCTION != null">#{BSC_EDUCATION_DEDUCTION},</if>
            <if test="BSC_EDUCATION_TOTAL != null">#{BSC_EDUCATION_TOTAL},</if>
            <if test="BSC_EDUCATION_SCORE != null">#{BSC_EDUCATION_SCORE},</if>
            <if test="BSC_ACADEMIC_RECORD != null">#{BSC_ACADEMIC_RECORD},</if>
            <if test="BSC_INTELLECTUAL_POINTS != null">#{BSC_INTELLECTUAL_POINTS},</if>
            <if test="BSC_INTELLECTUAL_SCORE != null">#{BSC_INTELLECTUAL_SCORE},</if>
            <if test="BSC_INTELLECTUAL_RANK != null">#{BSC_INTELLECTUAL_RANK},</if>
            <if test="BSC_VOLUNTEER_TOTAL != null">#{BSC_VOLUNTEER_TOTAL},</if>
            <if test="BSC_VOLUNTEER_SCORE != null">#{BSC_VOLUNTEER_SCORE},</if>
            <if test="BSC_REMARKS != null">#{BSC_REMARKS},</if>
        </trim>
    </insert>

    <!--编辑综合素质测评-->
    <update id="updateStudentComprehensive" parameterType="java.util.Map">
        UPDATE BUS_STUDENT_COMPREHENSIVE
        <set>
            <if test="ID != null">ID=#{ID},</if>
            <if test="BS_ID != null">BS_ID=#{BS_ID},</if>
            <if test="BSC_EDUCATION_PROPORTION != null">BSC_EDUCATION_PROPORTION=#{BSC_EDUCATION_PROPORTION},</if>
            <if test="BSC_INTELLECTUAL_PROPORTION != null">BSC_INTELLECTUAL_PROPORTION=#{BSC_INTELLECTUAL_PROPORTION},</if>
            <if test="BSC_VOLUNTEER_PROPORTION != null">BSC_VOLUNTEER_PROPORTION=#{BSC_VOLUNTEER_PROPORTION},</if>
            <if test="BSC_YEAR != null">BSC_YEAR=#{BSC_YEAR},</if>
            <if test="BSC_SEMESTER != null">BSC_SEMESTER=#{BSC_SEMESTER},</if>
            <if test="BSC_TOTAL != null">BSC_TOTAL=#{BSC_TOTAL},</if>
            <if test="BSC_RANK != null">BSC_RANK=#{BSC_RANK},</if>
            <if test="BSC_POLITICAL_ATTITUDE != null">BSC_POLITICAL_ATTITUDE=#{BSC_POLITICAL_ATTITUDE},</if>
            <if test="BSC_LABOR_ATTITUDE != null">BSC_LABOR_ATTITUDE=#{BSC_LABOR_ATTITUDE},</if>
            <if test="BSC_COMPLIANCE != null">BSC_COMPLIANCE=#{BSC_COMPLIANCE},</if>
            <if test="BSC_COLLECTIVE != null">BSC_COLLECTIVE=#{BSC_COLLECTIVE},</if>
            <if test="BSC_DECORUM != null">BSC_DECORUM=#{BSC_DECORUM},</if>
            <if test="BSC_CARE != null">BSC_CARE=#{BSC_CARE},</if>
            <if test="BSC_PERSONAL_QUALITY != null">BSC_PERSONAL_QUALITY=#{BSC_PERSONAL_QUALITY},</if>
            <if test="BSC_SERVICE_SPIRIT != null">BSC_SERVICE_SPIRIT=#{BSC_SERVICE_SPIRIT},</if>
            <if test="BSC_FULL_WORK != null">BSC_FULL_WORK=#{BSC_FULL_WORK},</if>
            <if test="BSC_BONUS_POINTS != null">BSC_BONUS_POINTS=#{BSC_BONUS_POINTS},</if>
            <if test="BSC_EDUCATION_DEDUCTION != null">BSC_EDUCATION_DEDUCTION=#{BSC_EDUCATION_DEDUCTION},</if>
            <if test="BSC_EDUCATION_TOTAL != null">BSC_EDUCATION_TOTAL=#{BSC_EDUCATION_TOTAL},</if>
            <if test="BSC_EDUCATION_SCORE != null">BSC_EDUCATION_SCORE=#{BSC_EDUCATION_SCORE},</if>
            <if test="BSC_ACADEMIC_RECORD != null">BSC_ACADEMIC_RECORD=#{BSC_ACADEMIC_RECORD},</if>
            <if test="BSC_INTELLECTUAL_POINTS != null">BSC_INTELLECTUAL_POINTS=#{BSC_INTELLECTUAL_POINTS},</if>
            <if test="BSC_INTELLECTUAL_SCORE != null">BSC_INTELLECTUAL_SCORE=#{BSC_INTELLECTUAL_SCORE},</if>
            <if test="BSC_INTELLECTUAL_RANK != null">BSC_INTELLECTUAL_RANK=#{BSC_INTELLECTUAL_RANK},</if>
            <if test="BSC_VOLUNTEER_TOTAL != null">BSC_VOLUNTEER_TOTAL=#{BSC_VOLUNTEER_TOTAL},</if>
            <if test="BSC_VOLUNTEER_SCORE != null">BSC_VOLUNTEER_SCORE=#{BSC_VOLUNTEER_SCORE},</if>
            <if test="BSC_REMARKS != null">BSC_REMARKS=#{BSC_REMARKS},</if>
        </set>
        <where>
            <if test="ID !=null">ID=#{ID}</if>
        </where>
    </update>

    <!--删除综合素质测评-->
    <delete id="deleteStudentComprehensive" parameterType="java.util.Map">
		DELETE FROM BUS_STUDENT_COMPREHENSIVE WHERE ID = #{ID}
	</delete>
</mapper>